<div class="container">
  <form class="jumbotron">
    <div class="form-group">
    <label for="inutile">Cose inutili</label>
    <input type="text" name="inutile" #inutile class="form-control">
    </div>

    <div class="form-group">
    <label for="spam">Spam</label>
    <input type="text" name="spam" #spam class="form-control">
    </div>

    <input type="submit" value="spamma"  (click)="spamma(inutile, spam)" class="btn btn-warning">
  </form>

  <ul>
    <li *ngFor="let testo of spammatore">
      <app-comp-spam [name]="testo"></app-comp-spam>
    </li>
  </ul>
</div>
